

/* ====================== NAVIGATION ====================== */


/* ====================== MAIN ====================== */
main h2 {
  text-align: center;
  color: #1f4664;
}
.herodiv{
  position:relative;
  margin: 10px;
  width: 98%;

}
.hero-ph {
  margin: 10px auto;
  width: 100%;
}
.weathersummary{
  position:absolute;
  top: 15px;
  left: 30px;
  background: rgba(31, 121, 176, .8);
  padding: 10px;
  width: 40%;
  min-width: 160px;
  color: white;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.weathersummary p {
  margin: 5px 0;
}

/* ====================== MAIN ====================== */
article {
  background-color: #668ea3;
  color: white;
  margin: 10px auto;
  padding: 10px;
  width: 98%;
}
article h1 {
  margin-bottom: 0;
}

article div {
  margin: 10px 0 20px 0;
}
