@media screen and (min-width: 600px){
.icon {
  display: none;
}

  nav {
    display: flex!important;
  }

  nav ul {margin: 0 auto;}

  nav li {
    display: inline-block;
    padding: 15px;
  }
  .herodiv {
    width: 85%;
  }

  .hero {
    height: auto;
    max-height: 400px;
  }

  .hero img {
    min-width: 600px;
  }

  .weathersummary {
    margin: 0;
    font-size: 100%;
  }

  .fiveDayForecast {
    display: block;
    width: 85%;
    margin: 15px auto 0 auto;
    text-align: center;
    padding: 10px 0;
  }

  #gallery-content{
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
  }

  #gallery-content img:hover {
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    transform: scale(1.05);
    width: 102%;
  }

  article {
    width: 85%;
    margin: 15px auto;
  }

  .articlecontent {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  article .img {
    float: right;
    height: 100%;
    width:auto;
    padding: 10px;
    margin: 0 auto;
  }

  footer #info {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .mapouter{
    width:300px;
    height: 200px;}
  .gmap_canvas {
    overflow:hidden;
    width:300px;
    height: 200px;}

  footer {
    width: 85%;
    margin: 0 auto;
  }

}
