html {
  width: 100%;
  font-family: 'Lato', sans-serif;
}

/* ====================== HEADER ====================== */
header {
  background: #5588a3;
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#header-title > div {
    padding: 8px;
}

#logo {
  margin: 0 auto;
  padding: 10px;
  width: 100px;
}

/* ====================== NAVIGATION ====================== */
.icon {
  text-align: center;
  padding: 15px;
  color: white;
  background: #1f4664;
}

nav {
  list-style-type: none;
  text-align: center;
  background: #1f4664;
  color: white;
  display: none;
}

nav li {
  padding: 5px;
}
nav a {
  color:white;
  text-decoration: none;
}

body {
width: 100%;
background: white;
font-family: 'Lato', sans-serif;
}

.pageTitle {
  text-align: center;
  color: #1f4664;
}

.herodiv {
  width: 95%;
  position: relative;
  margin: 0 auto;
}
.hero {
    width: 100%;
    margin: 0 auto;
    background: lightgrey;
    height: 200px;
    overflow: hidden;
}

.hero img {
  width: 100%;
  min-width: 300px;
}

.weathersummary {
  position: absolute;
  top: 10px;
  left: 20px;
  max-width: 200px;
  margin: 0px 0 0 10px;
  padding: 10px;
  background: rgba(31, 121, 176, .8);
  color: white;
  font-size: 100%;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
}

.weathersummary p {
  margin: 5px auto;
}

.fiveDayForecast {
  display: none;
}

.fiveDayForecast tr:nth-child(odd) {
  background: #1f79b0;
  color: white;
}

.fiveDayForecast table {
  margin: auto;
}

.fiveDayForecast th {
  border: 1px solid #1f4664;
  padding: 5px 20px;
}

.fiveDayForecast td {
  border: 1px solid #1f4664;
}
.fiveDayForecast p {
  margin: 5px;
}


#content{
  display: grid;
}

#header-title { text-align: center;}
#header-title > div { text-align: center; margin: 10px 0;}
#title { font-size: 190%; margin: 0; }
#motto { margin: 0; }


.city-name {
  text-align: center;
  margin: 10px 0;
  color: #1f4664;
  letter-spacing:5px;
}

.summary h4 {
  text-align: center;
  text-decoration: underline;
  margin: 10px;
}
.summary p {
  margin: 8px;
}

article {
  width: 95%;
  margin: 15px auto;
  padding: 0;
  background: #668ea3;
  color: white;
  z-index:-1;
}
article h1 { margin-bottom: 0;}
article div { margin: 10px;}
article .img {
  width:60%;
  padding: 10px;
  margin: 0 auto;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  color: white;
}

footer #info {
  font-size: 90%;
  background: #878787;
  padding:10px;

}
footer .copyright {
  background: #474747;
  padding: 10px;
  text-align: center;
}

/* ============= MAP ============*/

.mapouter{
  position:relative;
  text-align:right;
  width:100%;
  margin: 0 auto;}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  width:100%;
  margin: 0 auto;}
